body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: flex-start;
}

.tools {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#drawing-canvas {
    border: 1px solid #000;
    background-color: #fff;
}

button, input[type="color"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover, input[type="color"]:hover {
    background-color: #ddd;
}

#title {
    color: #000000;
}
