:root {
    --value: #1e90ff;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b0741d3;
}

.container {
    text-align: center;
}

.controls {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#drawing-canvas {
    border: 1px solid #000;
    cursor: crosshair;
    width: 100%;
}

h1{
    color: aliceblue;
    font-size: 4rem;
}

.element {
    display: flex;
    flex-direction: row;
}